# vscode
.vscode

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node modules
node_modules

# VuePress
docs/.vuepress/dist

# terraform
.terraform
terraform.tfstate.d

# VuePress
docs/.vuepress/dist

# secret files
*.pem
ca.key
ca.cert
ca.pass





